
<div class="british-culture">
<img  class="first_p" src="./assets/british/first-p.gif" alt="unboxing">
  <div class="first_p_text">
    <h1>Straight from the Streets of London</h1>
    <p>Inspired by UK streetwear & grime culture — where fashion meets beats, and every outfit tells a story.</p>
    <a href="/shop" class="go-shop-btn">Go to Shop</a>
  </div>
  <section class="zoom-container">
    <div class="zoom-wrapper">
      <img class="zoom-image base-image" src="./assets/british/p2.jpg" alt="unboxing">
      <img class="zoom-image texture-image" src="./assets/british/texture.webp" alt="texture">
    </div>

    <div class="scroll-arrow">
      <img class="arrow" src="./assets/british/arrow.png" alt="arrow">
      <div class="circle"></div>
    </div>

    <div class="material-info">
      <h1>Materiale De Legendă pentru Performanțe Reale</h1>
      <p>Materialele utilizate pentru crearea acestui produs sunt de cea mai înaltă calitate...</p>
    </div>
  </section>




  <div class="first_p_text">
    <h1>Straight from the Streets of London</h1>
    <p>Inspired by UK streetwear & grime culture — where fashion meets beats, and every outfit tells a story.</p>
    <a href="/shop" class="go-shop-btn">Go to Shop</a>
  </div>
<div class="gallery">
  <div class="gallery-item">
    <img src="./assets/british/img1.jpg" alt="Drop 1">
    <div class="overlay-text">Drop 1: Midnight Pack</div>
  </div>

  <div class="gallery-item glitch">
    <img src="./assets/british/img2.jpg" alt="Drop 2">
    <div class="overlay-text">Drop 2: Glitch Core</div>
  </div>

  <div class="gallery-item">
    <img src="./assets/british/img3.jpg" alt="Drop 3">
    <div class="overlay-text">Drop 3: Neo Tokyo</div>
  </div>

  <div class="gallery-item">
    <img src="./assets/british/img4.jpg" alt="Drop 4">
    <div class="overlay-text">Drop 4: Raw Cuts</div>
  </div>
</div>
</div>


