

<div class="gallery">
  <div class="gallery-item">
    <img src="./assets/british/img1.jpg" alt="Drop 1">
    <div class="overlay-text">Drop 1: Midnight Pack</div>
  </div>

  <div class="gallery-item glitch">
    <img src="./assets/british/img2.jpg" alt="Drop 2">
    <div class="overlay-text">Drop 2: Glitch Core</div>
  </div>

  <div class="gallery-item">
    <img src="./assets/british/img3.jpg" alt="Drop 3">
    <div class="overlay-text">Drop 3: Neo Tokyo</div>
  </div>

  <div class="gallery-item">
    <img src="./assets/british/img4.jpg" alt="Drop 4">
    <div class="overlay-text">Drop 4: Raw Cuts</div>
  </div>
</div>


