<div class="card-container">
    <div class="icon-circle top-left" (click)="toggleMusic()">
        <img *ngIf="isMusicStarted" src="assets/images/audio.png" alt="audio" />
        <img *ngIf="!isMusicStarted" src="assets/images/mute.png" alt="mute" />
    </div>

    <div class="icon-circle top-right">
        <img src="assets/images/bin.png" alt="bin" />
    </div>

    <div class="card-section top-section">
        <div class="video-wrapper">
            <video
                    *ngIf="card.videoSrc"
                    #videoElement
                    class="video-card"
                    [src]="card.videoSrc"
                    muted
                    loop
                    preload="auto"
                    (mouseenter)="onMouseEnter()"
                    (mouseleave)="onMouseLeave()"
            >
                Your browser does not support the video tag.
            </video>

            <img
                    *ngIf="card.gifSrc"
                    class="video-card"
                    [src]="card.gifSrc"
                    alt="GIF Preview"
            />

            <audio *ngIf="card.audioSrc" #audioElement [src]="card.audioSrc" loop></audio>
        </div>

    </div>

    <div class="card-section bottom-section">
        <p>{{ card.title }}</p>
        <div class="price-wrapper">{{ card.price }} {{ card.currency }}</div>
    </div>
</div>
