.footer {
  padding: 40px 20px 20px;
  font-family: 'Segoe UI', sans-serif;
  color: #05185a;
  box-shadow: 0 -4px 6px -2px #05185a;

}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-left,
.footer-center,
.footer-right {
  flex: 1 1 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-left .phone-item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 5px 0;
  color: #05185a;
  text-decoration: none;
}
.contact-item {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: #05185a;
  margin: 5px 0;
  font-size: 18px;
}


.footer-left mat-icon,
.footer-left span {
  font-size: 18px;
}

.footer-center .logo {
  width: 100px;
  height: auto;
  border-radius: 12px;
}

.footer-right {
  flex-direction: row;
  gap: 15px;
  justify-content: center;
}

.social-icon {
  color: #05185a;
  font-size: 24px;
  transition: transform 0.3s ease;
}

.social-icon:hover {
  transform: scale(1.2);
  color: #3b5998;
}

.footer-bottom {
  text-align: center;
  padding-top: 20px;
  font-size: 14px;
  color: #5b6467;
  margin-top: 20px;
}
