<footer class="footer">
  <div class="footer-content">
    <div class="footer-left">
      <div class="phone-item">
        <mat-icon>contact_phone</mat-icon>
        <span>0748 131 343</span>
      </div>
      <div class="email-item">
        <a href="mailto:contact@201Dreamers.com" class="contact-item">
          <mat-icon>mail</mat-icon>
          <span>contact&#64;201Dreamers.com</span>
        </a>
      </div>

    </div>

    <div class="footer-center">
      <video
        class="logo"
        src="../assets/logo.mp4"
        type="video/mp4"
        loop
        autoplay
        muted
      ></video>
    </div>

    <div class="footer-right">
      <a href="#" class="social-icon"><i class="fa-brands fa-facebook fa-bounce"></i></a>
      <a href="#" class="social-icon"><i class="fa-brands fa-instagram fa-bounce"></i></a>
      <a href="#" class="social-icon"><i class="fa-brands fa-tiktok fa-bounce"></i></a>
    </div>
  </div>

  <div class="footer-bottom">
    <p>© 2025 201 Dreamers. Toate drepturile sunt rezervate</p>
  </div>
</footer>
