<nav class="navbar">
  <div class="navbar-left">
    <video class="logo" src="../assets/logo.mp4" type="video/mp4" autoplay loop muted></video>
  </div>

  <div class="navbar-center">
    <button class="ny-button" (click)="switchCulture('en')">{{'British' | translate }}</button>
    <i class="fa-solid fa-bolt"></i>
    <button class="ro-button" (click)="switchCulture('ro')" >Romania</button>
  </div>

   <div class="navbar-right">
      <input type="checkbox" class="checkbox" id="chk" />
      <label class="label" for="chk">
        <i class="fas fa-moon"></i>
        <i class="fas fa-sun"></i>
        <div class="ball"></div>
      </label>
    </div>

</nav>
